<%- include("../template/head.ejs",{title:"遗址管理查看"}) %>
<script src="./js/tinymce/jquery.tinymce.min.js"></script>
<script src="./js/tinymce/tinymce.min.js"></script>
<script src="./js/jquery.form.js"></script><style>
    .poTable{
        margin: 20px 30px 0 0;
    }
    .el-select {
        width: 100%;
    }

    .selectLabel {
        line-height: 38px;
        text-align: center;
        /*text-align-last: justify;*/
        /*padding-right: 10px;*/
        background-color: #f5f7fa;
        color: #909399;
        vertical-align: middle;
        border: 1px solid #dcdfe6;
        border-radius: 4px 0 0 4px;
        white-space: nowrap;
        border-right: none;
    }

    .sps .el-input__inner {
        border-radius: 0px 4px 4px 0;
    }
    .imgShow{
        width: 100%;
        max-height: 300px;
    }
    .image {
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
        padding-top: 10px;
    }
    .card{
        padding: 0;

        text-align: center;
    }
    .infoTitle{
        display: inline-block;
        min-width: 80px;
        text-align: left;
        text-align-last: justify;
        margin-right: 15px;
    }
</style>
<body class="pd15Iner">
<div id="app" v-cloak>
    <div class="widthBlock pd20 ">
        <el-row type="flex" justify="left">
           <el-button type="primary" @click="back">返回</el-button>
        </el-row>
    </div>
    <div class="widthBlock pd20  mt15">
        <el-row>
            <el-col :span="2">
                <el-tag class="mb10">基本信息：</el-tag>
            </el-col>
            <el-col :span="22" >
                <el-row :gutter="100">
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">遗迹名称</span>{{info.name}}</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">遗迹流域</span>{{relicArea.area_name}}</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <el-row>
                            <div class="mb10"><span class="infoTitle">遗迹年代</span>{{info.age==1?"青铜":"新石器"}}</div>
                        </el-row>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <el-row>
                            <div class="mb10"><span class="infoTitle">遗迹类型</span>{{cate}}</div>
                        </el-row>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">纬度</span>{{translateLat}}</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">经度</span>{{translateLng}}</div>
                    </el-col>

                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">海拔</span>{{info.altitude}}m</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">相对高度</span>{{info.reHeight}}m</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">面积</span>{{info.acreage}}㎡</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">县市</span>{{info.towns}}</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">地址</span>{{info.address}}</div>
                    </el-col>
                    <el-col :span="12" :offset="0">
                        <div class="mb10"><span class="infoTitle">版本号</span>{{info.version}}</div>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>
    <div class="widthBlock pd20 mt15">
        <el-row>
            <el-col :span="2">
                <el-tag class="mb10">遗迹内容：</el-tag>
            </el-col>

            <el-col :span="22" >
                <div><%-decodeURI(tempData[0].content)%></div>
            </el-col>
        </el-row>
    </div>
    <div class="widthBlock pd20 mt15">
        <el-row>
            <el-tag class="mb10">附件：</el-tag>
            <el-col :span="24" :offset="0">
                <el-dialog :title="fileName" :visible.sync="imgVisible" :lock-scroll=false >
                    <img  :src="dialogImageUrl" alt="加载失败" class="imgShow">
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="imgVisible = false">取 消</el-button>
                        <el-button type="primary" @click="download(fileName)">下 载</el-button>
                    </span>
                </el-dialog>
                <el-row :gutter="30">
                    <el-col :span="4" v-for="(o, index) in img_list" :key="index" :offset="0">
                        <el-card :body-style="{ padding: '0px'}" class="card">
                            <img :src="o.url" class="image">
                            <div style="padding: 14px;">
                                <span>{{o.name.split("-")[0]}}</span>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-col>
        </el-row>
    </div>
    <div class="widthBlock pd20 mt15">
        <el-row>
            <el-tag class="mb10">历史版本：</el-tag>
            <el-col :span="24" :offset="0">
                <el-table
                        :data="hisRegion"
                        border
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            label="序号"
                            align="center"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="name"
                            label="名称"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="createTime"
                            label="时间"
                            width="180">
                    </el-table-column>
                    <el-table-column
                            prop="groupId"
                            label="版本">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            align="center"
                            width="200">
                        <template slot-scope="scope">
                            <el-button  type="text" size="small" @click="hisView(scope.row.id)">查看</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-col>
        </el-row>
    </div>
</div>
</body>
<script type="text/javascript">
    <%tempData[0].lat=JSON.parse(tempData[0].lat);tempData[0].lng=JSON.parse(tempData[0].lng);%>
    var info=JSON.parse('<%-JSON.stringify(tempData)%>')[0];
    var img_list=[];
    var attach=isEmpty(info.attach)?[]:info.attach.split(",");
    var localUrl=imgUrl();
    for(var i=0;i<attach.length;i++){
        if(/\w(\.gif|\.jpeg|\.png|\.jpg|\.bmp)/i.test(attach[i])){
            img_list.push({name:attach[i],url:localUrl+attach[i]})
        }else{
            switch(attach[i].split(".")[1]){
                case "rar": img_list.push({name:attach[i],url:localUrl+"type/rar.png"});break;
                case "txt": img_list.push({name:attach[i],url:localUrl+"type/txt.png"});break;
                case "doc": img_list.push({name:attach[i],url:localUrl+"type/word.png"});break;
                case "ppt": img_list.push({name:attach[i],url:localUrl+"type/ppt.ppt"});break;
                case "pdf": img_list.push({name:attach[i],url:localUrl+"type/pdf.png"});break;
                case "psd": img_list.push({name:attach[i],url:localUrl+"type/psd.png"});break;
                default: img_list.push({name:attach[i],url:localUrl+"type/file2.png"});break;
            }

        }

    };
    var app = new Vue({
        el: '#app',
        data: {
            info: info,
            relicArea:[],
            img_list:img_list,
            dialogVisible: false,
            imgVisible:false,
            tinymceEditer: false,
            age: [{label: "青铜", value: '1'}, {label: "新石器", value: '2'}],
            category: [{label: "山岗", value: '1'}, {label: "台地", value: '2'}, {label: "坡地", value: '3'}, {
                label: "岛屿",
                value: '4'
            }],
            dialogImageUrl:'',
            map:{},
            survey:[],
            newSurvey:{survey_name:"",region_id:this.info.id,region_name:this.info.name,survey_info:"",region_version:this.info.version,survey_status:0},
            modal1:false,
            points:[],
            fileName:'',
            hisRegion:[]
        },
        computed: {
            translateLat:function () {
                return this.info.lat.latD+"°"+this.info.lat.latF+"′"+this.info.lat.latM+"″"
            },
            translateLng:function () {
                return this.info.lng.lngD+"°"+this.info.lng.lngF+"′"+this.info.lng.lngM+"″"
            },
            cate:function () {
                return this.category.find((v)=>{return v.value==this.info.category}).label
            }

        },
        watch:{
        },
        mounted:function () {
            //获取区域列表
            axios.post("/getRelicArea").then((res) => {
                if (res.data.length > 0) {
                    this.relicArea = res.data.find((v)=>{return v.id==this.info.areaId})
                }
            });
            axios.post("/relicHisByVersion",{groupId:this.info.groupId}).then((res) => {
                if(res.data.status==200){
                    this.hisRegion = res.data.tempData;
                }
            })

        },
        methods: {
            back(){
                    window.history.back();
            },
            change_status(v) {
                this.info.areaId = v;
                this.map = this.relicArea.find((value) => {
                    return value.id == v
                });
                var points = [];
                JSON.parse(this.map.area_position).forEach((value, index) => {
                    points.push(new BMap.Point(value.lng, value.lat));
                })
                this.points=points;
            },
            delSurvey(id,index){
                layer.confirm("确认删除",()=> {
                    axios.post("/relicSurveyDel", {id: id}).then((res) => {
                        if (res.data.status === 200) {
                            layer.msg(res.data.message);
                            this.survey.splice(index, 1)
                        } else {
                            layer.msg(res.data.message)
                        }

                    })
                })
            },
            addSurvey(){
                this.modal1 = true
            },
            compSurvey(id){
                layer.confirm("确认完成",()=> {
                    axios.post("/relicSurveyComp", {id: id}).then((res) => {
                        if (res.data.status === 200) {
                            layer.msg(res.data.message);
                            this.survey.find((v) => {
                                return v.id == id
                            }).survey_status = 1;
                        } else {
                            layer.msg(res.data.message)
                        }

                    })

                })
            },
            ok(){
                axios.post("/relicSurveyAddSave", this.newSurvey).then((res) => {
                    if (res.data.status === 200) {
                        layer.msg(res.data.message);
                        axios.post("/relicSurvey",{id:this.info.id}).then(res=>{
                            this.survey=res.data.tempData;
                        })
                    } else {
                        layer.msg(res.data.message)
                    }

                })
            },
            cancel(){},
            hisView(id){
                var data=this.hisRegion.find((v)=>{
                    return v.id==id
                });
                data.lat=JSON.parse(data.lat);
                data.lng=JSON.parse(data.lng);
                this.info=data;
            }
        }
    })
</script>