<!DOCTYPE html>
<html>
        <frameset cols="250,*" frameborder="no" border="0" framespacing="0" class="mr20" >
             <frame src="/tree_sys_comp" name="leftFrame" noresize="noresize" id="leftFrame" title="leftFrame" class="widthBlockBL">
            <frame src="" name="mainFrame" id="mainFrame" title="mainFrame" class="widthBlockBR">
            <noframes><h1>您的浏览器无法处理框架！</h1></noframes>               
        </frameset>
</html>